@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\000031}}
body {
  background: black;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\000036}}
#forecast-wrapper {
  position: absolute;
  right: 50px;
  top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\0000314}}
#forecast-wrapper .forecast {
  clear: both;
  font-family: "Open Sans", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\0000319}}
#forecast-wrapper .forecast .info {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\0000326}}
#forecast-wrapper .forecast .date {
  text-transform: lowercase;
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\0000330}}
#forecast-wrapper .forecast .temperature {
  background: url(images/temperature.svg) no-repeat left 50%;
  background-size: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  padding-left: 18px;
  width: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\0000340}}
#forecast-wrapper .forecast .weather-icon {
  margin: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/anton\/Development\/venv\/raspmirror\/sass\/main\.sass}line{font-family:\0000343}}
#forecast-wrapper .forecast .weather-icon img {
  height: 36px;
  width: 36px;
}
