<div id="forecast-wrapper">
	{{#each model}}
		<div class="forecast">
			
			<span class="info date">
				{{ forecastdate dt }}
			</span>
			<span class="info temperature">
				{{ mean-temperature temp }} 
			</span>
			<span class="info weather-icon">
				<img {{bind-attr src=weather.icon }} />
			</span>
		</div>
	{{/each}}
</div>
