<div class="time-and-location">
	<div class="time">
		{{ controller.time }}
	</div>
	<div class="location">
		<span class="city">{{ model.city }}</span>
		<span class="comma">,</span>
		<span class="country">{{ model.country }}</span>
	</div>
</div>